{% extends 'base.html.twig' %}

{% block body %}

<h2>List of Projects</h2>
<div class="card">
    <ul class="list-group list-group-flush">
        {% for item in list %}
        <div class="list-group-item">
            <li>{{ item.projectName }}</li>
            <ul>
                <li>{{ item.description }}</li>
            </ul>
            <a href="{{ path("projectEdit", { "slug":item.id }) }}" class="btn btn-primary">Edit this item</a>
        </div>
        {% endfor %}
    </ul>
</div>

{% endblock %}

{% block stylesheets %}

{% endblock %}
